
@Styles.Render("~/Content/main.css")
<div class="scrollbar-sidebar scrollbar-container">
<div class="table-responsive">
 <table class="table table-striped table-bordered table-sm" cellspacing="0"
  width="100%">
                                                 <thead>
                                                    <tr>
                                                        <th class="text-center"></th>
                                                        <th class="text-center">ACC</th>
                                                        <th class="text-center">Rut</th>
                                                        <th class="text-center">Ref.</th>
                                                        <th class="text-center">Monto</th>
                                                      
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    
                                                    <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4560</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                         <tr>
                                                        <td style="width: 10px;">
                                                          <input type="checkbox">
                                                        </td>
                                                        <td >4565</td>
                                                        <td>
                                                          13660404-K
                                                        </td>
                                                        <td class="text-left">34546
                                                        </td>
                                                        <td class="text-left">$45.000.000</td>
                                                    </tr>
                                                    
                                                    </tbody>
                                                </table>
     </div>
    </div>
